################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug
/.vs
/packages
/bin/Release
/Gcode15/Gcode15/bin/Debug
/Gcode15/Gcode15/obj/Debug
/Gcode15/packages
/Gcode15/.vs/Gcode15
/Gcode15/Gcode15/save
